<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <legend>Login</legend>
                <label for="login_correo">Correo</label>
                <input type="email" name="login_correo" id="login_correo" placeholder="Correo">
                <label for="login_clave"></label>
                <input type="password" name="login_clave" id="login_clave" placeholder="contraseña">
                <button id="login_enviar">Ingresar</button>
            </div>
            <div class="col">
                <legend>Registrar</legend>
                <label for="registro_nombre">Nombre</label>
                <input type="text" name="registro_nombre" id="registro_nombre" placeholder="Nombre">
                <label for="registro_correo">Correo</label>
                <input type="text" name="registro_correo" id="registro_correo" placeholder="Correo">
                <label for="registro_clave">Contraseña</label>
                <input type="text" name="registro_clave" id="registro_clave" placeholder="Contraseña">
                <label for="registro_clave2">Confirme contraseña</label>
                <input type="text" name="registro_clave2" id="registro_clave2" placeholder="Confirmar contraseña">
                <button id="registro_enviar">Registrar</button>
            </div>
        </div>
    </div>
    
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>